bikram
celery
Django
django-auditlog
django-cleanup
django-cors-headers
django-filter
django-js-asset
django-redis
django-unfold
djangorestframework
djangorestframework-simplejwt
dotty-dict
drf-nested-routers
drf-yasg
Faker
pandas
Pillow
psycopg2
pycodestyle
PyJWT
pylint
pylint-django
pylint-plugin-utils
python-dateutil
python-dotenv
python-Levenshtein
redis
requests
whitenoise
